
#title{
  background-color:#008F9C;

}
.bla{
  color: black;
  font-size: 2.5rem;
}
.jumbotron{
max-width:700px;
margin:auto;
}
.bar{
  height: 40px;
    width: 110%;
    margin-right: -20px;
    margin-left: -15px;
  background-color:white;
position:fixed;

}
.atac{
  color:#008F9C;
font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  position:absolute;
   right:150px;
    top:0;

}
.btn1{
  max-width: 300px;
    padding-top: 0;
    padding-bottom: 0%;
  position:absolute;
   right:150px;
    top:0;
    font-style: oblique;
}
.home-icon{
  max-width: 250px;
    padding-top: 0;
    padding-bottom: 0;
  position:absolute;
   left:18px;
    top:0;
}
.sai{
   padding: 0% 0% 0%;
}
.symp{
  color: black;
}
#borderimg {
  border-image: url(border.png) 30 round;
}
.foot{
    padding: 7% 15%;
}
.para1{
  color: black;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
}
.para{
  color:white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
}
.monial{
  color:white;
}
#blank{
  background-color:white;
  padding: 15% 30%;
}
/* background: linear-gradient(180deg,#20005B -1.41%,#20005B 9.98%,#4E018C 22.27%,#530391 39.33%,#6800A7 71.38%,#220F5C 105.05%); */
.newfo{
  font-family: 'Source Code Pro', monospace;
  font-size: 3.4rem;
  line-height: 1.5;
  color:white;
  font-weight: bold;
}
h1{
font-family: 'Spartan', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
  font-weight: bold;
}
h2{
font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  font-weight: bold;
;
}
.carousel-item{
  padding: 7% 15%;
}
.rotate{
  transform: rotate(25deg);
  width: 60%;
  margin: 20px;
  position: absolute;
  right: 10%;
}
@media (max-width: 1028px){
  .rotate{
    position:static;
    transform: rotate(0);

  }
  #title{
    text-align: center;
  }
}
.end{
  background-color: #ff4c68;
  padding: 10% 20% 5%;
  text-align: center;
}
#press{
  background-color: #008F9C;
  text-align: center;
  padding-bottom: 3%
}
.Labrador{
  width: 20%;
  border-radius: 100%;
}
h3{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}
h4{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}
.feature-box{
  text-align: center;
  padding: 5%;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}
p{
  color: #8f8f8f;

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4rem;
}
.nav-item{
  padding: 0 18px;
}
.circle{
  width: 70%;
  margin:0% 20% 30% 30%;
  border-radius: 80%;
}
.nav-link{
  font-size:1.2rem;
}
.download-button{
  margin: 5% 3% 5% 0;
}
#testimonials{

  text-align: center;
  background-color:  #008F9C;
  color: white;
  padding-bottom: 5%;
  padding-top: 2%
}
.presslogo{
  width:15%;
  margin:20px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding:3% 2%;
}
